.container {
  width: 100%;
}
.addressSearchContainer {
  max-width: 500px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}
.buttons{
  z-index: 10;
}